Repository CassidyDC/development-toolset: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, markdownlint, prettier, parallellint, phpcbf, phpcs, phpstan

lefthook.yml:

colors: false # Removes ANSI escape codes from run script output, but not starting/ending output for vscode output panel.

pre-commit:
  parallel: false
  commands:
    eslint:
      priority: 1
      glob: '*.{js,mjs,cjs,ts,mts,cts,jsx,tsx}'
      run: npx eslint {staged_files} --fix
      stage_fixed: true
    stylelint:
      priority: 2
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --fix
      stage_fixed: true
    markdownlint:
      priority: 3
      glob: '*.md'
      run: npx markdownlint-cli2 {staged_files} --fix
      stage_fixed: true
    prettier:
      priority: 4
      glob:
        - '*.{astro,elm,hbs,svelte,vue}'
        - '*.{css,less,sass,scss}'
        - '*.{graphql,gql}'
        - '*.{html,htm}'
        - '*.{js,cjs,mjs,jsx}'
        - '*.{json,jsonc,json5}'
        - '*.{md,mdx}'
        - '*.{toml,yaml,yml}'
        - '*.{ts,cts,mts,tsx}'
      run: npx prettier {staged_files} --write
      stage_fixed: true
    parallellint:
      priority: 5
      glob: '*.php'
      run: vendor/bin/parallel-lint {staged_files} --show-deprecated
    phpcbf:
      priority: 6
      glob: '*.php'
      run: ./vendor/bin/phpcbf {staged_files}
      stage_fixed: true
    phpcs:
      priority: 7
      glob: '*.php'
      run: ./vendor/bin/phpcs {staged_files}
    phpstan:
      priority: 8
      glob: '*.php'
      run: ./vendor/bin/phpstan analyse {staged_files} --memory-limit=2G

Update `stylelint.config.js`
  stylelint.config.js
Due: eslint, prettier

Remove colors and progress from lefthook's output
  lefthook.yml
Due: prettier

Move files into 'plugin', 'root', and 'theme' directories
  .gitignore
  README.md
  plugin/package.json
  plugin/webpack.config.js
  root/.editorconfig
  root/.gitignore
  root/.markdownlint-cli2.jsonc
  root/.prettierignore
  root/.vscode/extensions.json
  root/.vscode/settings.json
  root/composer.json
  root/eslint.config.js
  root/lefthook.yml
  root/package.json
  root/phpcs.xml
  root/phpstan.neon
  root/prettier.config.js
  root/stylelint.config.js
  theme/package.json
  theme/webpack.config.js
Due: eslint, markdownlint, prettier

Add overrides for `@wordpress/scripts` vulnerabilities
  plugin/package.json
  theme/package.json
Due: prettier

Update README with overview of directories purposes
  README.md
Due: markdownlint, prettier

Update package name from `dev-toolset` to `development-toolset`
  root/composer.json
  root/package.json
Due: prettier

Update package versions
  plugin/package.json
  root/composer.json
  root/package.json
  theme/package.json
Due: prettier

Format file
  plugin/webpack.config.js
Due: eslint, prettier

Update comments
  root/.gitignore
Due: none

Replace `ddev-wp-setup-script` with `ddev-local-wordpress-script`
  root/.gitignore
Due: none

Add CHANGELOG.md and README.md templates
  root/CHANGELOG.md
  root/README.md
Due: markdownlint, prettier

Add modern eslint to override outdated dep from wp-scripts
  plugin/package.json
  theme/package.json
Due: prettier

Update config to use 120 line length
  root/.editorconfig
  root/eslint.config.js
  root/prettier.config.js
Due: eslint, prettier

Update globs to allow subdirectories
  root/lefthook.yml
Due: prettier

Format files
  plugin/webpack.config.js
  root/phpcs.xml
  root/stylelint.config.js
  theme/webpack.config.js
Due: eslint, prettier

Update WP Root `.gitignore` defaults
  root/.gitignore
Due: none

Remove whitespace
  .gitignore
Due: none

Add `ray-app.stub` file for PHPStan declaration
  files/ray-app.stub
Due: none

Update php file checks to use `wp-content/themes/your-theme`
  root/composer.json
  root/phpcs.xml
  root/phpstan.neon
Due: prettier

Update package versions and script labels
  root/package.json
Due: prettier

Add jsdoc `tagNamePreference` to override WP defaults
  root/eslint.config.js
Due: eslint, prettier

Update composer package versions
  root/composer.json
Due: prettier

Comment out ignoreErrors, but keep for easy addon
  root/phpstan.neon
Due: none

Add note to update theme/plugin paths
  README.md
Due: markdownlint, prettier
